# dependencies
/node_modules

# production build
/dist
/dist-ssr

# local env files
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS specific
.DS_Store
Thumbs.db

# IDE specific (optional, depending on your IDE)
.idea/
.vscode/
*.iml